/* Universalselektor */
* {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(119, 248, 248);
    color: black;
}

header {
    margin-top: 30px;
    background-color: #a74ef1;
    color: white;
    text-align: center;
    padding: 5px;
}

section.member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px;
}

.member-info h2 {
    margin: 0px;
}

.member-info p {
    margin-top: -20px;
    margin-bottom: 1.3rem;
}


#teambild {
    width: 50%;
    max-width: 180px;
    /* Maximalbreite für das Bild */
    border-radius: 40%;
    margin-right: 0;
    margin-bottom: 0;
}

.paypal img {
    width: 50%;
    /* Verkleinere das PayPal-Bild auf 50% der Breite des Elterncontainers */
    max-width: 200px;
    /* Maximalbreite für das Bild */
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

#paypalLink {
    color: black;
    background-color: #4e77f1;
    text-decoration: none;
    padding: 5px;
    border-radius: 0.5rem;
    font-weight: 900;
    margin: 10px 0;
}

.member-info {
    margin: auto;
}

#returnLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: absolute;
    margin-bottom: 10px;
    top: 20px;
    left: 10px;
    font-weight: 900;
}